/* Navbar */
header {
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
  top: 0;
  margin-top: 23px;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(8px);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8.05vw;
  top: 0;
  position: relative;
}

/* Navbar heading */
nav h1,
.heading {
  flex-grow: 1;
  font-weight: 900;
}

nav h2 {
  display: flex;
  align-items: center;
}

nav h2 button {
  margin-left: auto;
  border: none;
  font-weight: inherit;
  font-size: 1rem;
}

/* Navbar unsorted List */
nav ul {
  flex-grow: 5;
  list-style: none;
  position: absolute;
  flex-direction: column;
  left: 40%;
  top: -200px;
  transform: scale(0.1);
  justify-content: space-between;
  display: flex;
  opacity: 0;
  width: 100%;
  background-color: white;
  pointer-events: none;
  transition: all 250ms;
  border-bottom: 6px solid var(--offColor);
}

nav ul li {
  transition: all 250ms;
  border-bottom: 4px solid transparent;
  border-radius: 0.2rem;
  display: flex;
  justify-content: space-between;
  padding: 0 var(--padding);
  box-shadow: 0 0 10px -5px #e774a800 inset, 0 0 30px 0px #eb529700;
  background-color: rgba(255, 255, 255, 0);
  transition: all 450ms;
}

nav ul li a {
  flex-grow: 1;
  border-bottom: 2px solid var(--offColor);
  padding-bottom: 8.05vw;
  margin-top: 8.05vw;
  background-color: transparent;
  transition: all 450ms ease-in-out;
}

nav ul li button {
  border-bottom: 2px solid var(--offColor);
  padding-bottom: 8.05vw;
  margin-top: 8.05vw;
  border: none;
}

nav ul li:hover {
  transform: scale(1.05);
}

nav ul li:last-child {
  margin-bottom: 30px;
}

/* Buger Icon in mobile view */
#burger-icon {
  display: flex;
  flex-direction: column;
  width: 31px;
  gap: 7px;
  pointer-events: fill;
  cursor: pointer;
  border: none;
  background-color: inherit;
  transition: all 250ms;
}

#burger-icon:hover {
  transform: scale(1.05);
}

#burger-icon.active {
  transform: scale(0.3);
}

#burger-icon .burger-row {
  flex-grow: 2;
  width: 100%;
  height: 0;
  border: 3px solid black;
  background-color: black;
  border-radius: 7px;
}

#burger-icon.active ~ ul {
  opacity: 1;
  pointer-events: all;
  left: 0;
  top: 0;
  transform: scale(1);
}

/* Card */

#header-card .intro {
  background-color: var(--mainColorLow);
  border-radius: 20px;
  overflow: hidden;
  text-align: left;
  margin-bottom: 92px;
}

#header-card .intro .background-image {
  width: auto;
  height: 100vw;
  background-image: url("../pictures/header1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#header-card .intro figcaption {
  padding: 0 6.66vw;
}

#header-card .intro h3 {
  font-size: 0.38rem;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 6px;
  margin-bottom: 30px;
  margin-top: 38px;
}

#header-card strong {
  font-size: 1.21rem;
  line-height: 37px;
  font-weight: 600;
}

#header-card .intro figcaption p:nth-child(3) {
  margin-top: 10px;
  margin-bottom: 42px;
  font-size: 0.8rem;
  line-height: 27px;
}
#header-card .intro figcaption p:nth-child(4) {
  font-size: 0.9rem;
}
#header-card .intro figcaption p:last-child {
  margin-bottom: 55px;
  font-size: 0.5rem;
  letter-spacing: 4px;
  font-weight: 600;
}

#header-card .cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 70px;
  margin-bottom: 105px;
}

#header-card .cards div {
  background-color: var(--mainColorLow);
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 23px;
}

#header-card .cards h3 {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 10px;
}

#header-card .cards p {
  font-size: 15px;
  line-height: 28px;
}

@media (min-width: 1024px) {
  /* Navbar */
  #burger-icon {
    display: none;
  }

  #header {
    padding: 56px 5.83% 46px;
  }

  #header nav {
    margin: 0;
    padding: 0;
  }

  #header h1 {
    flex-basis: 33%;
  }

  #header ul {
    position: static;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
    align-content: center;
    transform: scale(1);
    opacity: 1;
    border: none;
    pointer-events: all;
    background-color: transparent !important;
  }

  #header ul li {
    flex-direction: row;
    padding: 0;
    margin: 0;
    border: none;
  }

  #header nav ul li.active-link {
    box-shadow: 0 0 10px -5px #e774a8 inset, 0 0 30px 0px #eb5296;
    background-color: rgba(255, 255, 255, 1);
  }

  #header li a {
    margin: 0;
    padding: 0;
    border: none;
    border-bottom: 4px solid transparent;
    border-bottom-color: transparent;
    border-radius: 4px;
    transition: all 1000ms;
  }

  #header .active-Link {
    border-bottom-color: var(--offColor);
  }

  header ul li:first-child {
    display: none;
    border: none;
  }

  header ul li button {
    display: none;
  }

  /* Landing Picture/Card */

  #header-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  #header-card .intro {
    flex-basis: 100%;
    display: flex;
    flex-direction: row;
    height: 676px;
  }

  #header-card .intro .background-image {
    height: 100%;
    width: 100%;
  }

  #header-card .intro figcaption {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #header-card .cards {
    flex-basis: 33%;
  }
}
