#our-projects {
  margin-top: 82px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#our-projects .card {
  margin-top: 40px;
  margin-bottom: 91px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

#our-projects .picture-container {
  width: 100%;
  height: 363px;
  overflow: hidden;
  border-radius: 15px;
}

#our-projects img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#our-projects .card h3 {
  letter-spacing: -1px;
  line-height: 37.4px;
  margin-bottom: 20px;
  font-size: 36px;
}

#our-projects .card p {
  opacity: 0.6;
  font-size: 17px;
  line-height: 30px;
  margin-bottom: 40px;
}

#our-projects .card button {
  align-self: flex-start;
  color: var(--offColor);
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 4px;
}

@media (min-width: 1024px) {
  #our-projects {
    flex-direction: row;
    margin-bottom: 39px;
    column-gap: 73px;
    height: 500px;
    align-items: center;
    justify-content: center;
    padding: 0 56px 0;
  }

  #our-projects .picture-container {
    width: 423px;
    height: 500px;
    flex-shrink: 1;
    border-radius: 15px;
  }
  #our-projects img {
    height: 140%;
    object-position: 53% -100px;
  }

  #our-projects .card {
    max-width: 385px;
    flex-shrink: 4;
    flex-grow: 1;
    margin: 0;
  }
}
