#showcase {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#showcase h2 {
  font-weight: 600;
  font-size: 1.2rem;
  padding: 0 2rem;
  order: 1;
  margin-bottom: 37px;
  letter-spacing: -1px;
  line-height: 37.4px;
}

#showcase #buttons {
  order: 3;
}

#showcase #buttons button {
  font-size: 1.5rem;
  transition: all 250ms;
  color: gray;
}
#showcase #buttons button:hover {
  transform: scale(1.05);
  text-shadow: 1px 1px 2px gray;
  color: #1d263a;
}

#showcase .card-container {
  order: 2;
  width: 100%;
  height: 639px;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

#showcase .card-container .examples {
  width: 300%;
  height: 100%;
  display: flex;
  border-radius: 15px;
  transition: all 450ms ease-in-out;
  position: relative;
}

#showcase .card-container picture {
  width: 100%;
}

#showcase .examples img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

#showcase .card {
  background-color: white;
  border-radius: 10px;
  padding: 19px;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 2;
  bottom: 12px;
  right: 12px;
  width: calc(33.33333% - 24px);
}

#showcase .card h3 {
  line-height: 42px;
  letter-spacing: -1px;
  font-weight: 600;
  color: var(--offColor);
  font-size: 32px;
}

#showcase .card p {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 6px;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 1024px) {
  section#showcase {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  section#showcase h2 {
    padding: 0;
  }

  section#showcase #buttons {
    margin-bottom: 37px;
    order: 2;
  }

  section#showcase .card-container .examples {
    width: 100%;
    height: 500px;
    transform: translateX(0);
    display: flex;
    -moz-column-gap: 22px;
    column-gap: 22px;
  }

  section#showcase .examples picture {
    width: 100%;
    height: 500px;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
  }

  section#showcase .examples picture img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 50% 50%;
    object-position: 50% 50%;
    height: 100%;
  }

  section#showcase .card {
    width: calc(100% - 33.33333% - 33.333333% - 15px - 24px);
    right: 12px;
  }
}
