#sub-container {
  background-color: var(--highlightColor);
  border-radius: 0;
  padding: 100px 12px 31px;
}

#subscribe {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  justify-items: stretch;
  align-content: stretch;
  padding: 0;
}

#subscribe h2 {
  color: var(--offColor);
  font-size: 40px;
  letter-spacing: -1px;
  line-height: 50px;
  padding: 0 35px;
}

#subscribe p {
  opacity: 0.7;
  font-size: 17px;
  line-height: 30px;
  padding: 0 35px;
}

#subscribe form {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "firstName "
    "surname "
    "email "
    "phone "
    "subject"
    "message"
    "button";
  gap: 2rem;
  background-color: white;
  border-radius: 15px;
  padding: 50px 12px 0;
}

#subscribe form label:nth-child(1) {
  grid-area: firstName;
}
#subscribe form label:nth-child(2) {
  grid-area: surname;
}
#subscribe form label:nth-child(3) {
  grid-area: email;
}
#subscribe form label:nth-child(4) {
  grid-area: message;
}
#subscribe form label:nth-child(5) {
  grid-area: phone;
}
#subscribe form label:nth-child(6) {
  grid-area: subject;
}
#subscribe form button:last-child {
  grid-area: button;
  width: 100%;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  margin-left: auto;
  border: 2px solid var(--offColor);
  background-color: inherit;
  color: var(--offColor);
  font-weight: 600;
  font-size: 21px;
  margin-bottom: 50px;
}

#subscribe form label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex-basis: 45%;
  font-size: 17px;
  font-weight: 600;
}

#subscribe input,
textarea {
  border: none;
  border-bottom: 1px solid gray;
  resize: none;
  font-size: 15px;
  opacity: 0.5;
  line-height: 28px;
}

#subscribe form textarea {
  height: 100%;
}

#subscribe p:last-child {
  font-size: 12px;
  margin-bottom: 99px;
}
